#version=RHEL9
install
lang en_US.UTF-8
keyboard us
network --bootproto=dhcp --device=eth0 --onboot=on
rootpw --plaintext vagrant
firewall --enabled --service=ssh
selinux --enforcing
timezone Asia/Kuala_Lumpur --isUtc
bootloader --location=mbr
zerombr
clearpart --all --initlabel
autopart
reboot

# System authorization
authconfig --enableshadow --passalgo=sha512

# Do not configure the X Window System
skipx

# Create vagrant user
user --name=vagrant --password=vagrant --plaintext --groups=wheel --shell=/bin/bash
sshkey --username=vagrant "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC... vagrant"

# Enable sudo for vagrant
%post
cat <<EOF > /etc/sudoers.d/vagrant
vagrant ALL=(ALL) NOPASSWD: ALL
EOF
chmod 0440 /etc/sudoers.d/vagrant
%end

# Packages
%packages
@^minimal-environment
@core
chrony
sudo
vim
openssh-server
%end
